<?xml version='1.0' encoding='utf-8'?>
<robot name="CGXI_G6">
  <link name="G6_base">
    <visual>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/visual/base.dae" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/collision/base.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="122" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
  </link>

  <link name="G6_link1">
    <visual>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/visual/link1.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/collision/link1.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="18" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
  </link>

  <joint name="G6_joint1" type="revolute">
    <origin xyz="0 0 0.1607" rpy="0 0 0" />
    <parent link="G6_base" />
    <child link="G6_link1" />
    <axis xyz="0 0 1" />
    <limit effort="87" lower="-6.2832" upper="6.2832" velocity="3.6652" />
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  </joint>

  <link name="G6_link2">
    <visual>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/visual/link2.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/collision/link2.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="14" />
      <origin xyz="-0.1448 0 -0.2" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
  </link>

  <joint name="G6_joint2" type="revolute">
    <origin xyz="0 0 0" rpy="1.57079632679 -1.57079632679 0" />
    <parent link="G6_link1" />
    <child link="G6_link2" />
    <axis xyz="0 0 1" />
    <limit effort="87" lower="-6.2832" upper="6.2832" velocity="3.6652" />
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  </joint>

  <link name="G6_link3">
    <visual>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/visual/link3.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/collision/link3.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5" />
      <origin xyz="-0.1 0 -0.1" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
  </link>

  <joint name="G6_joint3" type="revolute">
    <origin xyz="0.425 0 0" rpy="0 0 0" />
    <parent link="G6_link2" />
    <child link="G6_link3" />
    <axis xyz="0 0 1" />
    <limit effort="87" lower="-2.8798" upper="2.8798" velocity="3.6652" />
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  </joint>

  <link name="G6_link4">
    <visual>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/visual/link4.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/collision/link4.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.51" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
  </link>

  <joint name="G6_joint4" type="revolute">
    <origin xyz="0.393 0 0.1133" rpy="0 0 -1.57079632679" />
    <parent link="G6_link3" />
    <child link="G6_link4" />
    <axis xyz="0 0 1" />
    <limit effort="87" lower="-6.2832" upper="6.2832" velocity="6.2832" />
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  </joint>

  <link name="G6_link5">
    <visual>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/visual/link5.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/collision/link5.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01" />
      <origin xyz="0 0 -0.1" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
  </link>

  <joint name="G6_joint5" type="revolute">
    <origin xyz="0 0.099 0" rpy="-1.57079632679 0 0 " />
    <parent link="G6_link4" />
    <child link="G6_link5" />
    <axis xyz="0 0 1" />
    <limit effort="87" lower="-6.2832" upper="6.2832" velocity="6.2832" />
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  </joint>

  <link name="G6_link6">
    <visual>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/visual/link6.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://CGXI_G6/meshes/collision/link6.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001" />
      <origin xyz="-0.08 0 0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
  </link>

  <joint name="G6_joint6" type="revolute">
    <origin xyz="0 -0.0936 0" rpy="1.57079632679 0 0 " />
    <parent link="G6_link5" />
    <child link="G6_link6" />
    <axis xyz="0 0 1" />
    <limit effort="87" lower="-6.2832" upper="6.2832" velocity="6.2832" />
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  </joint>
  
  
  
  
</robot>